html,body{
	padding:0px;
	margin:0px;
}

#contentContainer{
	padding-top: 100px;
	height:1000px;
	width:90%;
	
	color:white;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;

}

#navContainer{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

#purple{
	background-color: #b7a0c9;
}
#purple:hover{
	background-color: #beabce;
}
#blue{
	background-color: #95bce0;
}
#blue:hover{
	background-color: #a0c5e5;
}
#pink{
	background-color: #edabba;
}
#pink:hover{
	background-color: #f2b8c4
}
#brown{
	background-color: #dab189;
}
#brown:hover{
	background-color: #e0b894;
}
#green{
	background-color: #a3b276;
}
#green:hover{
	background-color: #a9b780;
}
#lightGreen{
	background-color: #c4b877;
}
#lightGreen:hover{
	background-color: #c9bd80;
}

.buttons{
	width:15%;
	height:50px;
	text-align: center;
	color:white;
	font-family: 'Do Hyeon', sans-serif;
}
p{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
li{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1,h2,h3{
	font-family: 'Noto Sans', sans-serif;
}


/* Mobile alternative styling*/
 @media screen and (max-width:700px){
 	/* makes the navigation bar more appealing to mobile users*/
 	#navContainer{
 		display:flex;
 		flex-direction: column;
 		justify-content: center;
 	}
 	.buttons{
 		width:100%;
 		height:50px;
 		text-align: center;
 		color:white;
 	}
 	body{
 		background-color: #95bce0;
 	}
 }
